.App {
  text-align: center;

}

.heading {
  padding: 15px 10px 20px 10px;
}


.nav-button {
  background-color: transparent ;
  border: none;
  float: right;
  display: flex;
  color: white;
  margin-left: 15px;
  border: white solid 2px;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: rgb(56, 87, 100)
  
}

.logout {
  font-size: 0.7em;
  vertical-align: top;
}

.nav {
background-color: teal;
color: white;
justify-content: space-between !important;
margin-bottom: 10px;

}

.navbar-brand {
font-size: 2em !important;
font-weight: bold;
}

.view-button {
 font-weight: 500;
}

.logo {
  max-height: 50px;
}
